.back-button {
    margin-top: 20px;
    padding: 10px 30px;
    background: linear-gradient(to right, #17139C, #DD3E3E);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .back-button:hover {
    background-color: #660000;
  }