.search-button {
    margin-top: 20px;
    padding: 10px 30px;
    background: linear-gradient(to right, #C11B1B, black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background: linear-gradient(to right, #1BC150, black);
  }
  